:root{
    --color-violet: #232536;
    --color-white-hover: rgb(184, 184, 184);
    --color-gray: #6D6E76;
    --color-pink:#F4F0F8;
    --color-pink-hover: #dcd0e9;;

    --container-width: 1180px;
    --maket-size: 1280px;
}