@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-violet: #232536;
  --color-white-hover: rgb(184, 184, 184);
  --color-gray: #6D6E76;
  --color-pink:#F4F0F8;
  --color-pink-hover: #dcd0e9;
  --container-width: 1180px;
  --maket-size: 1280px;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: white;
}

.container {
  max-width: calc(var(--container-width) + 30px);
  margin: 0 auto;
  padding-inline: 15px;
  overflow-x: hidden;
}

button {
  border-radius: 5px;
}

.logo {
  flex-shrink: 0;
}

.logo-img {
  height: 50px;
  aspect-ratio: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: black;
}

.header {
  background: var(--color-violet);
  padding-block: 15px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__inner {
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 10px;
  }
}
.header__nav {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__nav {
    display: contents;
  }
}
.header__nav-list {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__nav-list {
    order: 3;
    flex-basis: 100%;
    justify-content: space-between;
    gap: 15px;
  }
}
.header__nav-link {
  display: inline-block;
  padding-block: 15px;
  color: white;
  position: relative;
  white-space: nowrap;
  text-transform: capitalize;
}
.header__nav-link::after {
  content: "";
  display: block;
  background: white;
  height: 2px;
  width: 0px;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 80%;
}
.header__nav-link.active {
  font-weight: 700;
}
@media (hover: hover) {
  .header__nav-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__nav-link:active::after {
    width: 100%;
  }
}
.header__subscription {
  display: block;
  background: white;
  padding: 15px 40px;
  color: black;
  font-weight: 700;
  transition: 0.3s;
}
@media (hover: hover) {
  .header__subscription:hover {
    background: rgb(184, 184, 184);
  }
}
@media (hover: none) {
  .header__subscription:active {
    background: rgb(184, 184, 184);
  }
}

.article__banner {
  width: 100%;
  aspect-ratio: 1.5;
  margin-bottom: 20px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.article__title {
  font-size: 48px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}
.article h2 {
  font-size: 36px;
  margin-bottom: 16px;
  line-height: 48px;
  margin-top: 42px;
}
.article h3 {
  font-size: 30px;
  margin-bottom: 16px;
}
.article h4 {
  font-size: 24px;
  margin-bottom: 16px;
}
.article h5 {
  font-size: 24px;
  margin-bottom: 16px;
}
.article h6 {
  font-size: 16px;
  margin-bottom: 16px;
}
.article p {
  color: var(--color-gray);
  margin-bottom: 24px;
  font-size: 16px;
  text-align: justify;
}
.article ul {
  color: var(--color-gray);
  font-size: 24px;
  line-height: 32px;
}
.article li {
  padding-left: 20px;
  position: relative;
}
.article li::before {
  content: "";
  display: block;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-gray);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.article q {
  font-style: italic;
}
.article blockquote {
  margin: 0px auto 24px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 5px 10px;
  max-width: 500px;
}
.article blockquote cite {
  display: block;
  margin-top: 15px;
  text-align: right;
  font-size: 18px;
}

.categories {
  margin-bottom: 30px;
}
.categories__title {
  font-size: 25px;
  margin-bottom: 35px;
}
.categories__list {
  display: flex;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .categories__list {
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .categories__list {
    flex-wrap: wrap;
  }
}
.categories__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 15px;
  background: var(--color-pink);
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}
.categories__card-image {
  margin-bottom: 30px;
}
@media (hover: hover) {
  .categories__card:hover {
    background: var(--color-pink-hover);
  }
}
@media (hover: none) {
  .categories__card:active {
    background: var(--color-pink-hover);
  }
}
.categories__name {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.categories__description {
  text-align: center;
  font-size: 14px;
}

.footer {
  background: var(--color-violet);
  padding-block: 15px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__body {
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 10px;
  }
}
.footer__nav {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .footer__nav {
    display: contents;
  }
}
.footer__nav-list {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .footer__nav-list {
    order: 3;
    flex-basis: 100%;
    justify-content: space-between;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .footer__nav-list li:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.footer__nav-link {
  display: inline-block;
  padding-block: 15px;
  color: white;
  position: relative;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: 700;
}
.footer__nav-link::after {
  content: "";
  display: block;
  background: white;
  height: 2px;
  width: 0px;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 80%;
}
@media (hover: hover) {
  .footer__nav-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .footer__nav-link:active::after {
    width: 100%;
  }
}
.footer__author {
  font-size: 14px;
  color: white;
}/*# sourceMappingURL=styles.css.map */